@page "/"
@using CountryData.Sample.Blazor.Components.Services
@using CountryData.Standard

<PageTitle>Home</PageTitle>

@inject CountryService CountryService

<h3>Country Data</h3>

@if (countries == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Flag</th>
                <th>Country Short Code</th>
                <th>Phone Code</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var country in countries)
            {
                <tr>
                    <td>@country.CountryName</td>
                    <td>@GrtCountryFlag(country.CountryShortCode)</td>
                    <td>@country.CountryShortCode</td>
                    <td>@country.PhoneCode</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    /// <summary>
    /// A collection of countries to be displayed on the page.
    /// </summary>
    private IEnumerable<Country>? countries;

    /// <summary>
    /// Initializes the component and loads the country data.
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        countries = await CountryService.GetCountries();
    }



    // getting counry flag 

   public string GrtCountryFlag(string countryShortCode)
    {
        return CountryService.GetCountryFlag(countryShortCode);
    }

}
